@{
    ViewBag.Title = "Home Page";
}

<div class="featured">
    <div class="wrap-featured zerogrid">
        <div class="slider">
            <div class="rslides_container">
                <ul class="rslides" id="slider">
                    <li><img src="~/Images/BDAbiodun1.jpg" /></li>
                    <li><img src="~/Images/BDArianna4.jpg" /></li>
                    <li><img src="~/Images/BDominic1.jpg" /></li>
                    <li><img src="~/Images/BDavid1.jpg" /></li>
                    <li><img src="~/Images/BDOtunba1.jpg" /></li>
                    <li><img src="~/Images/BDOtunba8.jpg" /></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="set01">
        <p style="">
            When you think about the history of birthday celebrations there are so many questions.
            From cakes and candles to presents and parties, so many things make up great birthdays.
            We’ve gathered the answers and the origins of the questions that you guys ask the most, and popped them all in one place for you.<br />
            @Html.ActionLink("Read more", "About", "Home")
        </p>
        <h3>How Should We Celebrate our Birthday?</h3>
        <p>
            It is good to be thankful for what you have in life and what you have accomplished.
            But open your eyes to the larger picture. If we are to appreciate the fruits of life,
            we must first appreciate the tree that bears the fruit: birth itself.
            <br /><br />
            Birth is your beginning. It is a window to the chance of a lifetime,
            the chance to fulfill your unique mission. So a birthday is a momentous occasion, to be commemorated
            just as a nation commemorates its birth or as an organization celebrates its founding.
            Still, it is much more than an occasion to receive gifts. It is a chance to remember the day that a major event occurred,
            to celebrate and give thanks and to reflect upon how well we are fulfilling our calling.
            <br /><br />
            Because time itself is like a spiral, something special happens on your birthday each year:
            The same energy that G‑d invested in you at birth is present once again.
            It is our duty to be receptive to that force. How do we do so? By committing to a life guided by God's will,
            and by using the abilities and resources we were born with to perfect ourselves and society,
            and to make the world a good and sacred home for God.
            <br /><br />
            A birthday is a time to celebrate birth itself, the joy of life.
            It is also an occasion to rethink your life: How great is the disparity between
            what I have accomplished and what I can accomplish? Am I spending my time properly
            or am I involved in things that distract me from my higher calling?
            How can I strengthen the thread that connects my outer life and my inner life?
            <br /><br />
            A birthday can also teach us the concept of rebirth. To recall our birth is to recall a new beginning.
            No matter how things went yesterday, or last year, we always have the capacity to try again.
            Your birthday is a refresher, a chance for regeneration—not just materially, but spiritually.
            <br /><br />
            On your birthday, gather with family and friends and study something meaningful together.
            <br /><br />
            There is no better way to celebrate a birthday than to commit a special act of goodness.
            It is easy enough to say you are thankful; it is far better to show it by doing a kind deed, something that you did not do yesterday.
            Not because someone is forcing you. Not because someone suggests it.
            But simply because your inner goodness, your soul, wants to express its thanks for being born and alive.
            <br /><br />
            Such an act of kindness gives God great pleasure, because He sees that the child in whom He invested, 
            the particular child he wanted to be born on a particular day, is living up to its potential. 
            And nothing, of course, gives a parent greater joy. This is the true experience of birth, the true beginning of a life of meaning.
        </p>
        
    </div>
</div>


    





