@{
    ViewBag.Title = "Home Page";
}

<div class="featured">
    <div class="wrap-featured zerogrid">
        <div class="slider">
            <div class="rslides_container">
                <ul class="rslides" id="slider">
                    <li><img src="~/Images/slide01.jpg" /></li>
                    <li><img src="~/Images/slide02.jpg" /></li>
                    <li><img src="~/Images/slide03.jpg" /></li>

                </ul>
            </div>
        </div>
    </div>
</div>


